pkgbase = railway-cli-bin
	pkgdesc = Command Line Interface for Railway.app
	pkgver = 5.52.0
	pkgrel = 1
	url = https://github.com/railwayapp/cli
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ca-certificates
	provides = railway-cli
	provides = railwayapp-cli
	provides = railway
	conflicts = railway-cli
	conflicts = railwayapp-cli
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/railwayapp/cli/v5.52.0/LICENSE
	sha256sums = 4a31388aeb41f97559f349ffca253e207181f2cf9d8a713e8891509333193da7
	source_x86_64 = https://github.com/railwayapp/cli/releases/download/v5.52.0/railway-v5.52.0-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = 4f713297e1734075ba7fd6e889ae5e07af2192c50d94b212af6d7e301cad45c3
	source_aarch64 = https://github.com/railwayapp/cli/releases/download/v5.52.0/railway-v5.52.0-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = c1897be1499b41eaaa9a9eb86347f4a95bb56871b40da42047b415a1ef53e46f

pkgname = railway-cli-bin
