[Unit]
Description=vingroto mail daemon
Documentation=https://github.com/eyenalxai/vingroto

[Service]
Type=simple
ExecStart=/usr/bin/vingroto-server
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
