pkgbase = amneziavpn-git
	pkgdesc = Amnezia VPN Client (built from source for aarch64 / x86_64)
	pkgver = 5.0.2.1.r0.g327e5985d
	pkgrel = 1
	url = https://github.com/amnezia-vpn/amnezia-client
	install = amneziavpn.install
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-only
	makedepends = autoconf
	makedepends = automake
	makedepends = cmake
	makedepends = git
	makedepends = libtool
	makedepends = ninja
	makedepends = patchelf
	makedepends = pkgconf
	makedepends = python
	makedepends = qt6-tools
	depends = glibc
	depends = hicolor-icon-theme
	depends = libcap-ng
	depends = libnl
	depends = libsecret
	depends = openssl
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-remoteobjects
	depends = qt6-svg
	depends = wireguard-tools
	optdepends = amneziawg-dkms: in-kernel AmneziaWG module (higher throughput)
	optdepends = amneziawg-tools: CLI administration tools for AmneziaWG
	optdepends = conan: native C/C++ package manager (avoids automatic venv bootstrap)
	provides = amneziavpn
	conflicts = amneziavpn
	conflicts = amneziavpn-bin
	options = !debug
	source = amnezia-client::git+https://github.com/amnezia-vpn/amnezia-client.git#branch=dev
	sha256sums = SKIP

pkgname = amneziavpn-git
