@define-color foreground #cdd6f4; /* text */
@define-color background #181824; /* base */
@define-color border     #313244; /* surface0 */
@define-color accent     #89b4fa; /* blue */

@define-color workspace_focused @accent;
@define-color workspace_visible rgba(205, 214, 244, 0.35);

