@import "../theme/current/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#memory,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update,
#custom-vpn,
#language {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 4px;
}

#custom-bluetooth-battery {
  margin-right: 7.5px;
}

#custom-bluetooth-battery.low {
  color: #a5a555;
}

#custom-bluetooth-battery.critical {
  color: #a55555;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-vpn.active {
  color: #55a555;
}

#custom-vpn.inactive {
  opacity: 0.5;
}

#custom-vpn.unknown {
  color: #a5a555;
}


