pkgbase = happ-desktop-bin
	pkgdesc = Happ — user-friendly GUI client for xray-core with TUN/VPN and anti-censorship
	pkgver = 4.3.0
	pkgrel = 1
	url = https://happ.su
	install = happ-desktop-bin.install
	arch = x86_64
	arch = aarch64
	license = custom:Proprietary
	depends = glibc
	depends = openssl
	depends = libx11
	depends = libxkbcommon-x11
	depends = wayland
	depends = hicolor-icon-theme
	optdepends = polkit: privilege elevation for daemon operations
	provides = happ
	provides = happ-desktop
	conflicts = happ
	conflicts = happ-desktop
	noextract = happ-desktop-bin-4.3.0-x86_64.pkg.tar.zst
	noextract = happ-desktop-bin-4.3.0-aarch64.pkg.tar.zst
	options = !strip
	source_x86_64 = happ-desktop-bin-4.3.0-x86_64.pkg.tar.zst::https://github.com/Happ-proxy/happ-desktop/releases/download/4.3.0/Happ.linux.x64.pkg.tar.zst
	sha256sums_x86_64 = ef5835832a8bc3f654ebc78bdeaded03038d7b5ff8330d97e1e135391a52c961
	source_aarch64 = happ-desktop-bin-4.3.0-aarch64.pkg.tar.zst::https://github.com/Happ-proxy/happ-desktop/releases/download/4.3.0/Happ.linux.arm64.pkg.tar.zst
	sha256sums_aarch64 = 3a70c5387375c9ce1b61e7ecf83c21314f4bc7062c003ff8af873cde07aaf985

pkgname = happ-desktop-bin
