[Unit]
Description=Hiddify Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hiddify-cli run -c ~/.config/hiddify/proxy-config.json -d ~/.config/hiddify/hiddify-config.json
Restart=on-failure

[Install]
WantedBy=default.target
