@define-color foreground #d4be98;
@define-color background #282828;
@define-color accent #7daea3;
@define-color cursor #bdae93;
@define-color selection_foreground #ebdbb2;
@define-color selection_background #d65d0e;
@define-color color0 #3c3836;
@define-color color1 #ea6962;
@define-color color2 #a9b665;
@define-color color3 #d8a657;
@define-color color4 #7daea3;
@define-color color5 #d3869b;
@define-color color6 #89b482;
@define-color color7 #d4be98;
@define-color color8 #3c3836;
@define-color color9 #ea6962;
@define-color color10 #a9b665;
@define-color color11 #d8a657;
@define-color color12 #7daea3;
@define-color color13 #d3869b;
@define-color color14 #89b482;
@define-color color15 #d4be98;
